<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
			</script>
		<script type="text/javascript">
		timer = null;
		function getemo(text){
					if(timer){
						clearTimeout(timer);
					}
					console.log("here")	
					timer=setTimeout(function() {
					emo(text);}, 1000)
				
				}
		  function emo(text) {
			if(text == ""){
			  $('#results').html("");
			  console.log('came')
			}
			else {
				console.log('came')
				
				$(document).ready(function(){
					chat="no"
				
			  		$.ajax({
							  type: "GET",
							  url: "http://192.168.0.21:5001/suggest_emojis?text=" + text+"&chat="+chat
						  }).done(function(o) {
					console.log(o);
					$('#results').html(o);
					console.log("done")
					});
				});	
			  }
		  }
		
		  function handle_thoughts(e) {
				//console.log(e);
				$('#mythoughts').val(e);
				getemo(e);
				//console.log("input box");
				//console.log(document.getElementById("mythoughts").value);
			}

		</script>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Emotionizer</title>
		<style>
				.bgimg-1, .bgimg-2, .bgimg-3 {
				  position: relative;
				  opacity: 0.65;
				  background-position: center;
				  background-repeat: no-repeat;
				  background-size: cover;
				
				}
				.bgimg-1 {
				  background-image: url("https://www.w3schools.com/howto/img_parallax.jpg");
				  height: 100%;
				}
				
				div .fixed {
				   position: fixed;
				   bottom: 180px;
				   right: 850px;
				   width: 400px;
				   height:120px;
				   
			   }
				</style>
		<meta name="description" content="A page transition where one SVG path is morphed into another" />
		<meta name="keywords" content="page transition, svg, morph, path, javascript, web design, web dev" />
		<meta name="author" content="Codrops" />
	
		<link href="https://fonts.googleapis.com/css?family=Nunito:400,700|Spectral:200" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/normalize.css')}}" />
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/demo.css')}}" />
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='pater/pater.css')}}" />
		<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}"/>
		<script>document.documentElement.className = 'js';</script>
	</head>
	<body    class="demo-1 loading" onload="getemo('happy')">
	
		<!-- <svg class="hidden">
			<symbol id="icon-arrow" viewBox="0 0 24 24">
				<title>arrow</title>
				<polygon points="6.3,12.8 20.9,12.8 20.9,11.2 6.3,11.2 10.2,7.2 9,6 3.1,12 9,18 10.2,16.8 "/>
			</symbol>
			<symbol id="icon-drop" viewBox="0 0 24 24">
				<title>drop</title>
				<path d="M12,21c-3.6,0-6.6-3-6.6-6.6C5.4,11,10.8,4,11.4,3.2C11.6,3.1,11.8,3,12,3s0.4,0.1,0.6,0.3c0.6,0.8,6.1,7.8,6.1,11.2C18.6,18.1,15.6,21,12,21zM12,4.8c-1.8,2.4-5.2,7.4-5.2,9.6c0,2.9,2.3,5.2,5.2,5.2s5.2-2.3,5.2-5.2C17.2,12.2,13.8,7.3,12,4.8z"/><path d="M12,18.2c-0.4,0-0.7-0.3-0.7-0.7s0.3-0.7,0.7-0.7c1.3,0,2.4-1.1,2.4-2.4c0-0.4,0.3-0.7,0.7-0.7c0.4,0,0.7,0.3,0.7,0.7C15.8,16.5,14.1,18.2,12,18.2z"/>
			</symbol>
			<symbol id="icon-github" viewBox="0 0 32.6 31.8">
				<title>github</title>
				<path d="M16.3,0C7.3,0,0,7.3,0,16.3c0,7.2,4.7,13.3,11.1,15.5c0.8,0.1,1.1-0.4,1.1-0.8c0-0.4,0-1.4,0-2.8c-4.5,1-5.5-2.2-5.5-2.2c-0.7-1.9-1.8-2.4-1.8-2.4c-1.5-1,0.1-1,0.1-1c1.6,0.1,2.5,1.7,2.5,1.7c1.5,2.5,3.8,1.8,4.7,1.4c0.1-1.1,0.6-1.8,1-2.2c-3.6-0.4-7.4-1.8-7.4-8.1c0-1.8,0.6-3.2,1.7-4.4C7.4,10.7,6.8,9,7.7,6.8c0,0,1.4-0.4,4.5,1.7c1.3-0.4,2.7-0.5,4.1-0.5c1.4,0,2.8,0.2,4.1,0.5c3.1-2.1,4.5-1.7,4.5-1.7c0.9,2.2,0.3,3.9,0.2,4.3c1,1.1,1.7,2.6,1.7,4.4c0,6.3-3.8,7.6-7.4,8c0.6,0.5,1.1,1.5,1.1,3c0,2.2,0,3.9,0,4.5c0,0.4,0.3,0.9,1.1,0.8c6.5-2.2,11.1-8.3,11.1-15.5C32.6,7.3,25.3,0,16.3,0z"/>
			</symbol>
		</svg> -->
		<main>
			<div class="content content--intro">
				<div class="frame">
					<header class="codrops-header">
						
						
					</header>
					<a class="github" href="https://github.com/codrops/MorphingPageTransition/" title="Find this project on GitHub"><svg class="icon icon--github"><use xlink:href="#icon-github"></use></svg></a>
					<nav class="demos">
						<a class="demo demo--current" href="index.html"><span>Happy? Sad? Let's find out</span></a>
						
					</nav>
				</div>
		
				<div class="content__inner">
					<h2 class="content__title">Let's Find Your Mood</h2>
					<h3 style="color:white;" class="content__subtitle">This will be fun!!</h3>
					<a  class="enter">enter</a>
					
				</div>
			
				<div class="shape-wrap">
					<svg class="shape" width="100%" height="100vh" preserveAspectRatio="none" viewBox="0 0 1440 800" xmlns:pathdata="http://www.codrops.com/">
						<path d="M -44,-50 C -52.71,28.52 15.86,8.186 184,14.69 383.3,22.39 462.5,12.58 638,14 835.5,15.6 987,6.4 1194,13.86 1661,30.68 1652,-36.74 1582,-140.1 1512,-243.5 15.88,-589.5 -44,-50 Z" pathdata:id="M -44,-50 C -137.1,117.4 67.86,445.5 236,452 435.3,459.7 500.5,242.6 676,244 873.5,245.6 957,522.4 1154,594 1593,753.7 1793,226.3 1582,-126 1371,-478.3 219.8,-524.2 -44,-50 Z"></path>
					</svg>
				</div>
			</div><!-- /content -->
			
			<div class="content content--fixed"  >
						<div id="step" class="sleep">1</div>
						<form  action = "{{url_for('results')}}" method="post" id="hire_us">
								<div style="font-size:80px;" class='fixed' id="results">
										
									</div>		
										
									
							<p id="pin_0" class="click pulse" style="margin: 30px">Get started</p>
							<p id="pin_1"></p>
							<p>
								<input id="your_name" type="text" name="name" onkeypress="getemo(this.value)" class="sleep" autocomplete="off" spellcheck="false" />
								
							</p>
							<p id="pin_2"></p>
							<p>
								<input id="email_address" name ="day" type="text"  placeholder="" onkeypress="getemo(this.value)" class="sleep" autocomplete="off" spellcheck="false" />
							</p>
							<p id="pin_3"></p>
							<p>
								<input id="your_color" name="color" type="text"  onkeypress="getemo(this.value)" class="sleep" autocomplete="off" spellcheck="false" />
							</p>
							<p id="pin_4"></p>
							<p id="pin_5"></p>
							<p id="pin_6"></p>
							<p id="type" onkeyup="handle_thoughts(this.innerHTML)" contenteditable="true" name="thoughts" class="sleep" style="width:60%">Feel free to use <b>bold (Ctrl-B)</b>, <i>italics (Ctrl-I),</i> even <u>underlines (Ctrl-U)</u> if you must..</p>
							
							
							<p id="pin_7"></p>
								
				
							
							<p id="pin_8"></p>
							<p id="pin_9"></p>
							
							<input id="mythoughts" name="mythoughts" type="text" style="display:none"/>

							<input id="go" class="sleep" type="submit" value="send us your answers" />
						</form>
						  
						<script  src="{{url_for('static',filename='js/index.js')}}"></script>
			</div>
			<script src="{{url_for('static',filename='js/imagesloaded.pkgd.min.js')}}"></script>
			<script src="{{url_for('static',filename='js/charming.min.js')}}"></script>
			<script src="{{url_for('static',filename='js/anime.min.js')}}"></script>
			<script src="{{url_for('static',filename='js/demo1.js')}}"></script>
			
		</main>
	</body>
</html>
